/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* regole body */
body{
  font-family: "Edu Tas Beginner", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  background-image: url(../img/cork.png);
  background-size: contain;
}

/* HEADER */
/* regole header */
header {
    height: 150px;
    background-image: url(../img/wall.png);
    background-size: contain;
}

/* regole titolo principale nell' header */
#headerTitle {
    font-size: 80px;
    text-align: center;
    padding-top: 30px;
}

/* MAIN */
/* regole card container */

.cardContainer {
    width: 80%;
    margin:  5% 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* DEBUG */
    /* background-color: green;
    border-style: dashed; */
}

/* regole card */
.card {
    flex-basis: 27%;
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-bottom: 60px;
    /* border-style: dashed; */
    height: 370px;
    
}
/* regole img container */
.imgContainer {
    position: absolute;
    /* height: 250px; */
    width: 90%;
    top: 5%;
    right: 5%;
    bottom: 2%;
}

/* regole img vacanza */
.holidayImg {
    max-width: 100%;
}

/* regole generali info card sotto l'immagine */

.photoInfo {
    align-self: flex-end;
    margin-left: 5%;
    margin-bottom: 1%;
}

/* regole data sotto l'immagine */

.dataInfo {
  font-family: "Sometype Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: grey;
}

/* regole testo con descrizione foto */
.photoText {
    font-size: 25px;
    font-weight: bold;
}
/* REGOLE responsive card */
@media screen and (max-width:880px) {

    .card {
        
        height: 260px;
    }
    
}


/* REGOLE TABLET */
@media screen and (max-width:768px) {

    .card {
        flex-basis: 45%;
        height: 320px;
    }
    #headerTitle {
        font-size: 60px;
        
    }
}

/* REGOLE MOBILE */
@media screen and (max-width:480px) {

    .card {
        flex-basis: 65%;
    }
}

/* REGOLE RESPONSIVE HEADER TITLE  */
@media screen and (max-width:405px) {

    /* regole titolo principale nell' header */
     #headerTitle {
       font-size: 60px;
     }
    
}