/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* regole body */
body{
  font-family: "Edu Tas Beginner", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  /* DEBUG */
  background-image: url(../img/cork.png);
  background-size: contain;
}

/* regole header */
header {
    height: 200px;
    background-image: url(../img/wall.png);
    background-size: contain;
}

/* regole titolo principale nell' header */
#headerTitle {
    font-size: 110px;
    text-align: center;
    padding-top: 30px;
}
