/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* regole body */
body{
  font-family: "Edu Tas Beginner", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  background-image: url(../img/cork.png);
  background-size: contain;
}

/* HEADER */
/* regole header */
header {
    height: 150px;
    background-image: url(../img/wall.png);
    background-size: contain;
}

/* regole titolo principale nell' header */
#headerTitle {
    font-size: 80px;
    text-align: center;
    padding-top: 30px;
}

/* MAIN */
/* regole card container */

.cardContainer {
    width: 80%;
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* DEBUG */
    height: 800px;
    background-color: green;
    border-style: dashed;
}

/* regole card */
.card {
    flex-basis: 27%;
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    /* border-style: dashed; */
    height: 330px;
    
}
/* regole img container */
.imgContainer {
    position: absolute;
    background-image: url(../img/summer.jpg);
    background-size: cover;

    /* DEBUG */
    /* background-color: rgb(198, 245, 10); */
    /* border-style: dashed; */
    height: 250px;
    width: 90%;
    top: 5%;
    right: 5%;
    bottom: 2%;
}

/* regole testo della card sotto l'immagine */

.card span {
    align-self: flex-end;
    margin-left: 5%;
    margin-bottom: 3%;
}

/* REGOLE TABLET */
@media screen and (max-width:768px) {

    .card {
        flex-basis: 40%;
    }
}

/* REGOLE MOBILE */
@media screen and (max-width:480px) {

    .card {
        flex-basis: 55%;
    }
}

/* REGOLE SIZING HEADER TITLE  */
@media screen and (max-width:405px) {

   /* regole titolo principale nell' header */
#headerTitle {
    font-size: 60px;
}
    
}