/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* regole body */
body{
  font-family: "Edu Tas Beginner", serif;
  font-style: normal;
  background-image: url(../img/cork.png);
  background-size: contain;
}

/* centralizzazione hidden */
.hidden {
    display: none;
}

/* regole overlay */
.overlay-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 800;
}
.overlay {
    
    position: relative;
    z-index: 200; 
    text-align: center;
           
}
.overlayImg {
    max-width:40%;
    z-index: 400;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 30%;
    border: solid yellow 2px ;
    
}

/* regole bottone chiusura */
.closeButton {
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 100px;
    right: 3%;
    background-color: #abc616;
    padding: 1%;
    font-size: 20px;
    z-index: 2100; 

}

/* HEADER */
/* regole generali header */
header {
    height: 150px;
    background-image: url(../img/wall.png);
    background-size: contain;
}

/* regole titolo principale nell' header */
#headerTitle {
    font-size: 80px;
    text-align: center;
    padding-top: 30px;
}

/* MAIN */
/* regole card container */

.cardContainer {
    width: 80%;
    margin:  5% 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* regole card */
.card {
    flex-basis: 27%;
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-bottom: 60px;
    height: 420px;
    
}
/* regole card hover */
.card:hover  {

    height: 450px;
    transform: rotate(-23deg);
    box-shadow: 10px 10px 5px #493e3e;
    transition:  1s ease;
    
}

/* regole img container */
.imgContainer {
    position: absolute;
    width: 90%;
    top: 5%;
    right: 5%;
    bottom: 2%;
    
}

/* regole img vacanza */
.holidayImg {
    max-width: 100%;
}

/* regole red-pin */
.redPin {
    position: absolute;
    top: -33px;
    left: 45%;
}

/* regole generali info card sotto l'immagine */

.photoInfo {
    align-self: flex-end;
    margin-left: 5%;
    margin-bottom: 1%;
}

/* regole data sotto l'immagine */

.dataInfo {
  font-family: "Sometype Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: grey;
}

/* regole testo con descrizione foto */
.photoText {
    font-size: 25px;
    font-weight: bold;
}

/* REGOLE responsive 880px*/
@media screen and (max-width:880px) {

     /* regole card */
    .card {
        
        height: 250px;
    }
    /* regola altezza card in hover */
.card:hover  {
   
    height: 280px;
  
}
    
}


/* REGOLE TABLET  768px*/
@media screen and (max-width:768px) {

    /* regole titolo principale */
    #headerTitle {
        font-size: 60px;
        
    }

    /* regole immagine dell'overlay */
    .overlayImg {
        
         top: 100px;
         left: 17%;
     
     }

    /* regole card */
    .card {
        flex-basis: 45%;
        height: 330px;
    }

    
    /* regole red-pin */
.redPin {
    width: 30px;
}

/* regola altezza card in hover */
.card:hover  {
   
    height: 350px;
  
}


}

/* REGOLE MOBILE 480px*/
@media screen and (max-width:480px) {

     /* regole card */
    .card {
        flex-basis: 65%;
    }

}

/* REGOLE RESPONSIVE HEADER TITLE 405px */
@media screen and (max-width:405px) {

    /* regole titolo principale nell' header */
     #headerTitle {
       font-size: 60px;
     }
    
}


