/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* regole body */
body{
  font-family: "Edu Tas Beginner", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: url(../img/cork.png);
  background-size: contain;
}

/* centralizzazione hidden */
.hidden {
    display: none;
}


/* regole overlay */
.overlay-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}
.overlay {
    
    position: relative;
    z-index: 200; 
    text-align: center;

           
}
.overlayImg {
   /* padding-top: 3%; */
    max-width: 64%;
    z-index: 400;
    position: absolute;
    top: 100px;
    left: 25%;
    border: solid yellow 2px ;
    

}

/* regole button chiusura */
.closeButton {
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 100px;
    right: 15%;
    background-color: #abc616;
    padding: 1%;
    font-size: 20px;
    /* display: none; */

}

/* HEADER */
/* regole header */
header {
    height: 150px;
    background-image: url(../img/wall.png);
    background-size: contain;
}

/* regole titolo principale nell' header */
#headerTitle {
    font-size: 80px;
    text-align: center;
    padding-top: 30px;
}

/* MAIN */
/* regole card container */

.cardContainer {
    width: 80%;
    margin:  5% 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* DEBUG */
    /* background-color: green;
    border-style: dashed; */
}

/* regole card */
.card {
    flex-basis: 27%;
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-bottom: 60px;
    /* border-style: dashed; */
    height: 420px;
    
}

/* regole img container */
.imgContainer {
    position: absolute;
    /* height: 250px; */
    width: 90%;
    top: 5%;
    right: 5%;
    bottom: 2%;
    
}

/* regole img vacanza */
.holidayImg {
    max-width: 100%;
}

/* regole red-pin */
.redPin {
    position: absolute;
    top: -33px;
    left: 45%;
}

/* regole generali info card sotto l'immagine */

.photoInfo {
    align-self: flex-end;
    margin-left: 5%;
    margin-bottom: 1%;
}

/* regole data sotto l'immagine */

.dataInfo {
  font-family: "Sometype Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: grey;
}

/* regole testo con descrizione foto */
.photoText {
    font-size: 25px;
    font-weight: bold;
}
/* REGOLE responsive card */
@media screen and (max-width:880px) {

     /* regole card */
    .card {
        
        height: 260px;
    }
    
}


/* REGOLE TABLET */
@media screen and (max-width:768px) {

    /* regole titolo principale */
    #headerTitle {
        font-size: 60px;
        
    }

    /* regole card */
    .card {
        flex-basis: 45%;
        height: 330px;
    }
    /* regole red-pin */
.redPin {
    width: 30px;
}


}

/* REGOLE MOBILE */
@media screen and (max-width:480px) {

     /* regole card */
    .card {
        flex-basis: 65%;
    }
}

/* REGOLE RESPONSIVE HEADER TITLE  */
@media screen and (max-width:405px) {

    /* regole titolo principale nell' header */
     #headerTitle {
       font-size: 60px;
     }
    
}